/*
=========================
INCIALIZACION DE ESTILOS
=========================
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/*Colores y tamañosd de letra */
:root {
    --mainColor: #070091;
    --SecondaryColor: #aaa6a6;
    --fontSizeGrande: 1.5rem;
    --fontSize: 1rem;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

/*
=============================
ACARGO ARTURO
navbar-pc
============================
*/
.nav-bar__toggle-btn {
    margin-left: 1rem;
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggle-btn__line {
    border-radius: 5px;
    width: 2rem;
    background-color: black;
    height: 2px;
    transition: background-color 0.5s;
}

.toggle-btn__line::before {
    border-radius: 5px;
    content: '';
    position: absolute;
    width: 2rem;
    background-color: black;
    height: 2px;
    transform: translateY(10px);
    transition: transform 0.5s;
}

.toggle-btn__line::after {
    border-radius: 5px;
    content: '';
    position: absolute;
    width: 2rem;
    background-color: black;
    height: 2px;
    transform: translateY(-10px);
    transition: transform 0.5s;
}

.tsb-open .toggle-btn__line {
    background-color: transparent;
}

.tsb-open .toggle-btn__line::after {
    transform: rotate(-45deg);

}

.tsb-open .toggle-btn__line::before {
    transform: rotate(45deg);
}

.navbar-pc {
    width: 100%;
    background-color: white;
    padding: 0.6rem;
    position: fixed;
}

.navbar-pc ul {
    display: flex;
    justify-content: start;
    column-gap: 3rem;
    margin-right: 5rem;
    align-items: center;
}

.navbar-pc ul .item {}

.navbar-pc ul li {
    cursor: pointer;
    font-size: var(--fontSize);
    padding: 0.3rem;
}

.navbar-pc ul li:nth-child(1) {
    margin-right: auto;
}

.navbar-pc ul li:hover {
    color: var(--mainColor);
}

.navbar-pc ul .item {
    transition: all 0.7s;
}

.navbar-pc ul .item:hover {
    background-color: blue;
    color: white;
    border-radius: 0.5rem;
    transform: scale(1.13);
    transform: translateY(-3px);
}

.navbar-pc__logo {
    width: 200px;
    position: relative;
}

.navbar-pc__logo img {
    position: absolute;
    top: -265%;
    width: 200px;
    height: 200px;
    box-shadow: 1px 0px 2px 1px white;
    z-index: 10;
}

/*
=======================
ASIDE O NAV MOVIL
ACARGO ARTURO
======================= */
.nav-movil {
    position: fixed;
    top: 59px;
    right: 0;
    border-end-start-radius: 0.6rem;
    width: 150px;
    /* background-color: var(--mainColor); */
    /* background-color: rgba(71, 65, 192, 1); */
    background-color: var(--SecondaryColor);
    transform: translateX(150px);
    transition: all 0.7s;
    display: none;
    z-index: 10;
}

.navm-open {
    transform: translateX(0px);
}

.nav-movil ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.nav-movil ul .logo {}

.nav-movil ul .item {
    padding: 1rem 1rem;
    font-size: var(--fontSize);
    color: white;
    cursor: pointer;
    border-bottom: white 1px solid;
}

.nav-movil ul .item:last-child {
    border-bottom: none;
}

.nav-movil ul .item:active {
    transform: scale(1.02);
}

/*
===============
BANNER 
==============
*/
.banner {
    width: 100%;
    height: 450px;
    background-color: rgba(71, 65, 192, 0.3);
}

/*
=======================
SERVICIOS 
=======================
*/
.section-serv {
    padding-top: 2rem;
}

.section-serv h2 {
    text-align: center;
    padding-bottom: 1rem;
    font-weight: bolder;
}

.serv-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;

}

.serv-container .item {
    height: 320px;
    flex-basis: 320px;
    border: 1px solid var(--mainColor);
    border-radius: 0.7rem;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px var(--mainColor);
}

.serv-container .item:hover {
    background-color: rgba(71, 65, 192, 0.8);
    /* background-color: var(--mainColor); */
    color: white;
    text-shadow: 1px 0px 1px white;
    transform: translateY(-5px);
}

.item__imagen {
    height: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__titulo {
    text-align: center;
    font-size: var(--fontSizeGrande);
    font-weight: bolder;
}

.item__desc {
    padding-top: 1rem;
    text-align: center;
    font-size: var(--fontSize);
}








/*
=============================
RESPONSIVE
=============================
*/
@media(max-width:900px) {

    /*navbar-pc */
    .navbar-pc ul {
        justify-content: space-between;
        margin-right: 0;
    }

    .navbar-pc ul .item {
        display: none;
    }

    .nav-bar__toggle-btn {
        display: flex;
    }

    .nav-movil {
        display: block;
    }

    .navbar-pc__logo img {
        left: -22%;
        width: 150px;
        height: 150px;
        top: -280%;
    }


}