/*
=========================
INCIALIZACION DE ESTILOS
=========================
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/*Colores y tamañosd de letra */
:root {
    --mainColor: #070091;
    --backgroundColor2: #ebf5ff;
    --SecondaryColor: #e6dede;
    --ThierColor: #dce9f7;
    --fontSizeGrande: 1.5rem;
    --fontSize: 1rem;
    --footerColor: #0e0d22;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

/*
========================
Estilos generales
===============
*/
.btn1 {
    border: 1px solid transparent;
    outline: none;
    background-color: var(--mainColor);
    color: white;
    padding: 0.4rem;
    border-radius: 0.3rem;
    transition: all 0.3s;
}

.btn1:hover {
    border: var(--mainColor) solid 1px;
    color: var(--mainColor);
    background: none;
}

.btn1:active {
    transform: scale(1.03);

}

/*Sobreescribir clases de libreria */
/* .carousel-inner {
    height: 600px !important;
} */
/*=========end estilo general===================*/
/*
=============================
ACARGO ARTURO
navbar-pc
============================
*/
.nav-bar__toggle-btn {
    margin-left: 1rem;
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggle-btn__line {
    border-radius: 5px;
    width: 2rem;
    background-color: rgb(255, 255, 255);
    height: 2px;
    transition: background-color 0.5s;
}

.toggle-btn__line::before {
    border-radius: 5px;
    content: '';
    position: absolute;
    width: 2rem;
    background-color: rgb(255, 255, 255);
    height: 2px;
    transform: translateY(10px);
    transition: transform 0.5s;
}

.toggle-btn__line::after {
    border-radius: 5px;
    content: '';
    position: absolute;
    width: 2rem;
    background-color: white;
    height: 2px;
    transform: translateY(-10px);
    transition: transform 0.5s;
}

.tsb-open .toggle-btn__line {
    background-color: transparent;
}

.tsb-open .toggle-btn__line::after {
    transform: rotate(-45deg);

}

.tsb-open .toggle-btn__line::before {
    transform: rotate(45deg);
}

.navbar-pc {
    width: 100%;
    height: 3.5rem;
    background-color: var(--mainColor);
    padding: 0.6rem;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navbar-pc ul {
    display: flex;
    justify-content: start;
    column-gap: 3rem;
    margin-right: 5rem;
    margin-bottom: 0 !important;
    align-items: center;
}


.navbar-pc ul li {
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--fontSize);
    padding: 0.3rem;
}

.navbar-pc ul li:nth-child(1) {
    margin-right: auto;
}

.navbar-pc ul li:hover {
    color: var(--mainColor);
}

.navbar-pc ul .item {
    transition: all 0.7s;
    color: white;
    padding: 0rem;
}
.navbar-pc ul .item a{
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 0.3rem;
}

.navbar-pc ul .item:hover {
    background-color: rgb(255, 255, 255);
    color: var(--mainColor);
    border-radius: 0.5rem;
    transform: scale(1.13);
    transform: translateY(-3px);
}
.navbar-pc__logo {
    width: 200px;
    position: relative;
}

.navbar-pc__logo img {
    position: absolute;
    top: -265%;
    opacity: 0.9;
    width: 200px;
    height: 200px;
    box-shadow: 1px 0px 2px 1px white;
    z-index: 10;
}

/*=========end estilo arturo===================*/
/*
=======================
ASIDE O NAV MOVIL
ACARGO ARTURO
======================= */
.nav-movil {
    position: fixed;
    top: 56px;
    right: 0;
    border-end-start-radius: 0.6rem;
    width: 150px;
    /* background-color: var(--mainColor); */
    background-color: rgba(71, 65, 192, 1);
    /* background-color: var(--SecondaryColor); */
    transform: translateX(150px);
    transition: all 0.7s;
    display: none;
    z-index: 10;
}

.navm-open {
    transform: translateX(0px);
}

.nav-movil ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
}

.nav-movil ul .item {
    font-size: var(--fontSize);
    color: white;
    cursor: pointer;
    border-bottom: white 1px solid;
}
.nav-movil ul .item a{
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1rem 1rem;
}

.nav-movil ul .item:last-child {
    border-bottom: none;
}

.nav-movil ul .item:active {
    transform: scale(1.02);
}

/*=========end estilo navbar movil===================*/
/*
===============
BANNER
==============
*/
.banner {
    width: 100%;
    height: 450px;
    background-color: rgba(71, 65, 192, 0.3);
}

/*=========end estilo banner===================*/
/*
===============
Carousel
==============
*/
.swiper {
    height: 550px;
    width: 100%;
    margin-top: 3.5rem;
}

/*=========end estilo carousel===================*/

/*
==============================
Quienes somos
==============================
*/
.qsomos{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--mainColor);
}
.qsomos__text{
    flex-basis: 50%;
    padding: 4rem 2rem;
    /* height: 450px; */
    font-size: var(--fontSize);
    color: white;
    text-align: center;
    outline: 1px solid #fff;
    outline-offset: -20px;
    /* border-bottom: 1px solid white;
    border-left: 1px solid white; */
}
.qsomos__text>p {
    padding-top: 1rem;
}
.qsomos__text >img{
    width: 196px;
    height: 89px;
}
.qsomos__text h1{
   position: relative;
   display: block;
   font-weight: bolder;
   font-size: 2.25rem !important;
}
.qsomos__text h1::before{
    content: '';
    width: 2.3em;
    height: 4px;
    background-color: white;
    position: absolute;
    bottom: -10%;
    left: 52.5%;
}
.qsomos__img{
    flex-basis: 50%;
    background-color: rgb(218, 212, 212) !important;
}



/*
=======================
SERVICIOS
=======================
*/
.section-serv {
    padding-top: 2rem;
}

.section-serv h2,
.section-planes h2 {
    text-align: center;
    padding-bottom: 1rem;
    font-weight: bolder;
    color: var(--mainColor);
    font-size: 2.25rem;
}

.serv-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.serv-container .item {
    height: 320px;
    flex-basis: 320px;
    border: 1px solid var(--mainColor);
    border-radius: 0.7rem;
    cursor: pointer;
    transition: all 0.6s;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px var(--mainColor);
}

.serv-container .item:hover {
    background-color: rgba(71, 65, 192, 0.8);
    color: white;
    text-shadow: 1px 0px 1px white;
    box-shadow: 0px 6px 9px var(--mainColor);
}

.item__imagen {
    height: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__titulo {
    text-align: center;
    font-size: var(--fontSizeGrande);
    font-weight: bolder;
}

.item__desc {
    padding-top: 1rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    text-align: center;
    font-size: var(--fontSize);
}

/*=========end estilo button whatsp===================*/

/*
=============================
ACARGO ELVER GALARGA
PLANES
============================
*/

.container-planes {
    background: var(--ThierColor);
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 2rem;
}


.info-planes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.plan-box {
    overflow: hidden;
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 1px 1px white;
    width: 300px;
    border-radius: 7px;
}

.plan-option {
    width: 100%;
    display: flex;
    flex-flow: column;
}

/* .section-planes .plan-box:hover {
    margin-top: -15px;
    background: white;
} */

.plan-name {
    font-size: var(--fontSizeGrande);
    background-color: var(--mainColor);
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}
.plan-subtitulo{
    text-align: center;
    font-size: 1.3rem;
    color: var(--mainColor);
    /* border-bottom: 1px solid var(--mainColor);
    border-top: 1px solid var(--mainColor); */
    padding: 0.2rem;
    background-color: #f7f7f7;
    margin: 0;
}
/*canales */
.plan-option img{
    border-bottom: 2px solid var(--mainColor);
    margin-bottom: 1rem;
}
.plan-details{
    margin:0;
}
.plan-details li{
    font-size: 1.25rem;
    /* cursor: pointer; */
    padding:0.5rem 0rem;
    transition: transform 0.3s;
    position: relative;
}
.plan-details li::before{
    content: '';
    background-color: var(--mainColor);
    /* width: 15px;
    height: 3px; */
    position: absolute;
    top: 0%;
}
/* .plan-details li:hover{
    transform: translateY(-3px);
} */
.plan-details li img{
    max-width: 35px;
    margin-right: 0.3rem;
}


.plan-price {
    display: block;
    color: var(--mainColor);
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    padding-top: 0;
}

.plan-price>div {
    text-align: start;
    font-size: var(--fontSizeGrande);
    padding-bottom: 0.5rem;
}

.plan-price>div>span {
    font-size: var(--fontSize);
}

/*=========end estilo montalvo===================*/

/*
=============================
MAPA
=============================
*/

.caja-mapa__contenedor {
    height: 400px;
    width: 100%;
    z-index: 1;
}

.caja-mapa h2 {
    margin: 0;
    padding: 2.2rem 0;
    text-align: center;
    font-weight: bolder;
    background-color: var(--ThierColor);
    color: var(--mainColor);
    font-size: 2.25rem;
}

/*
=============================
Contactanos
=============================
*/
/*====Movil========*/
.title{
    color: var(--mainColor);
    padding-top: 2rem;
    text-align: center;
    font-size: 2.25rem;
    font-weight: bolder;
}

.input-dat div ~input,
.input-dat div ~button {
    width: 100%;
}
.conten{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}
.contact-form form {
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    grid-column: 1 / 3;
}
.contact-form .btn1{
    text-align: center;
}
.button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 30px;
    grid-column:  1/3;
}
.input-dat-flex {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    grid-column:  1/3;
}
.input-dat{
    position: relative;
    width: 100%;
}
.input-dat-flex{
    position: relative;
    width: 100%;
}
.input-dat input{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    outline: none;
}
.input-dat-flex input{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    outline: none;
}
.input-dat-flex textarea{

    width: 100%;
    padding: 10px;
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    outline: none;
}

.input-dat span{
    position: absolute;
    left: 0;
    padding: 10px;
    transition: 0.4s transform;
    pointer-events: none;
    text-transform: uppercase;
}
.input-dat-flex span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    transition: 0.4s transform;
    text-transform: uppercase;
}
.input-dat input:valid ~span,
.input-dat input:focus ~span
{
    color:var(--mainColor);
    transform: translatex(10px) translateY(-7px);
    padding: 0 10px;
    background: white;
    border-left: 1px solid var(--mainColor);
    border-right: 1px solid var(--mainColor);

}
.input-dat-flex textarea:valid ~span,
.input-dat-flex textarea:focus ~span
{
    color:var(--mainColor);
    transform: translatex(10px) translateY(-7px);
    padding: 0 10px;
    background: white;
    border-left: 1px solid var(--mainColor);
    border-right: 1px solid var(--mainColor);

}
.input-dat-flex  input:valid ~span,
.input-dat-flex  input:focus ~span
{
    color:var(--mainColor);
    transform: translatex(10px) translateY(-7px);
    padding: 0 10px;
    background: white;
    border-left: 1px solid var(--mainColor);
    border-right: 1px solid var(--mainColor);

}
.info div img{
    max-width: 15px;
    margin-right: 10px;
}
.contact-info{
    padding-top: 2rem;
    font-size: var(--fontSize);
}
.contact-info h4,
.contact-info div,
.contact-info p{
    text-align: left;
    padding-left: 25px;
}
.contact-info h4{
    padding-top: 15px;

}
.contact-info div{
    list-style: none;
    padding: 0;
    padding: .3em;
}

/*====EScritorio ========*/
@media(min-width: 700px){
    .conten{
        padding: 0 4rem;
    }

    .contact-grup {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .contact-form{
        padding: 10px;
        padding-top: 40px;
    }
}
/*
=============================
FOOTER
=============================
*/

footer{
    display: flex;
    background: var(--footerColor);
    width: 100%;
    flex-flow: column;
}

.titulo-footer{
    text-align: center;
    padding-top: 20px;
}

.caja-footer{
    display: flex;
    position: relative;
    top: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    padding-right: 10px;
    padding: 0 10px;

}

.info-footer{
    font-size: var(--fontSize);
    flex-basis: 400px;
    flex-grow: 1;
    margin: auto;
}

.creditos-footer{
    background-color: #070091;
    margin-top: 30px;
}
.copy{
    color: white;
}
/*=========end estilo de mapa===================*/
/*
=============================
RESPONSIVE
=============================
*/
@media(max-width:900px) {

    /*navbar-pc */
    .navbar-pc ul {
        justify-content: space-between;
        margin-right: 0;
    }

    .navbar-pc ul .item {
        display: none;
    }

    .nav-bar__toggle-btn {
        display: flex;
    }

    .nav-movil {
        display: block;
    }

    .navbar-pc__logo img {
        left: -22%;
        width: 120px;
        height: 120px;
        top: -280%;
    }

    /*Banner */
    .swiper {
        height: 300px;
    }
    /*Quienes somos */
    .qsomos__text{
        flex-basis: 100%;
    }
    .qsomos__img{
        display: hidden;
        flex-basis: 100%;
    }


    /*mapa */
    .caja-mapa__contenedor {
        height: 400px;
    }

    .caja-mapa {
        padding: 0;
    }
    /* Form contactenos*/
    .input-dat{
        grid-column:  1/3;
    }
}

/*=========end estilo esponsive===================*/
/*
=============================
Button Whatsap
=============================
*/
.button-what {
    position: fixed;
    width: 60px;
    right: 1%;
    bottom: 3%;
    /* background-color: #e62309; */
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    animation-name: animacion-what;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.button-what:hover {
    /* text-decoration: none;
    color: #25d366;
    background-color: #fff; */
}

@keyframes animacion-what {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/*=========end estilo button whatsp===================*/
